appengine-python-standard
git+git://github.com/ubragg/appengine-python-sdk.git@a112bd056cb7a03ec0caf1aa62a7ef763b97e653#egg=appengine-python-protobuf
mock
pytest
pytest-cov
pytest-timeout
webtest
git+git://github.com/ubragg/protorpc.git@2d6f8052af1d082cc4e148ff4788cec1dad34f81#egg=protorpc
protobuf
PyYAML
